{% load static %}
{% load i18n %}
{% load util %}
{% load config %}
<html>
<head>
    <title>{% blocktrans %}ARBEITSGRUPPEN meh als gmües{% endblocktrans %}</title>
    <meta charset="utf-8">
    <link href="{% config "bootstrap" %}" rel="stylesheet"/>
    <link href="/static/external/mid/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="/static/external/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link href="/static/external/font-awesome-5.3.1/css/all.min.css" rel="stylesheet"/>
    <link href="/static/external/cc/cookieconsent.min.css" rel="stylesheet"/>
    {% block styles %}
    {% endblock %}
    <link href="/static/css/juntagrico.css" rel="stylesheet"/>
    <link href="/static/css/slider.css" rel="stylesheet"/>
    <link href="{% config "style_sheet" %}" rel="stylesheet"/>
    <link href="{% static "activityprofile/css/screen.css" %}" rel="stylesheet"/>
    <style type="text/css">
        html, body {background:none transparent;}
    </style>
    <base target='_parent' />
</head>

<body>
    <div style="max-width: 700px; padding: 1em;">
        {% include "activityprofile/snippets/snippet_activity_profile.html" with jobslink=True %}
    </div>

    <script type="text/javascript" src="/static/external/jquery-3.3.1/jquery-3.3.1.min.js">
    </script>
    <script type="text/javascript" src="/static/js/juntagrico.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initArea.js">
    </script>
</body>
</html>
