{% load depot_extras %}
{% load i18n %}
{% load util %}
{% load config %}
{% vocabulary "depot" as v_depot %}
<html>
<head>
    <title>{% vocabulary "depot" %}listen</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>

<body>
<div id="header_content">
    {% trans "Erstellt am" %} {% now "d.m.Y H:i" %}
</div>

{% for depot in depots %}
    {% for subscription in depot.active_subscriptions %}
        {% if forloop.first or forloop.counter0|breakFirstPage:45|breakNextPages:50 %}
            {% if forloop.counter0 > 0 %}
                </table>
                <div class="page-break"></div>
            {% endif %}
            <h2 style="font-size: 18px;">{{ depot.weekday_name }} - {{ depot.name }}{% if not forloop.first %} Fortsetzung{% endif %}</h2>
            {% if forloop.first %}
                <h3 style="font-size: 16px;">{{ depot.addr_street }}, {{ depot.addr_zipcode }} {{ depot.addr_location }}</h3>
                {% blocktrans %}{{ v_depot }}-Betreuung{% endblocktrans %}: {{ depot.contact.first_name }} {{ depot.contact.last_name }}
                <table cellpadding="5" cellspacing="0" style="margin-bottom:5px;" class="full-border">
                    <tr>
                        <th style="width: 3cm" class="bottom-border">Grösse</th>
                        <th style="width: 1.5cm" class="bottom-border">Anzahl</th>
                    </tr>
                    {% for product in products %}
                        {% for size in product.sizes_for_depot_list %}
                            <tr>
                                <td>{{ size.name }}</td>
                                <td>{{ subscriptions|depot:depot|sub_size:size|count }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            {% endif %}
            <table cellpadding="2" cellspacing="0" style="margin-bottom:5px;" class="bottom-border">
                <tr>
                    {% for delivery_date in depot.delivery_dates %}
                        <th style="width: 1cm;">{{ delivery_date|date:"d.m" }}</th>
                    {% endfor %}
                    {% for product in products %}
                        {% for size in product.sizes_for_depot_list %}
                            <th style="width: 1cm;">{{ size.name }}</th>
                        {% endfor %}
                    {% endfor %}
                    <th style="width: 5cm;">Name</th>
                    <th style="width: 8cm;">mit</th>
                </tr>
        {% endif %}
        <tr style="height: 0.5cm">
            {% for delivery_date in depot.delivery_dates %}
                <td class="top-border left-border" style="width: 1cm;"> </td>
            {% endfor %}
            {% for product in products %}
                {% for size in product.sizes_for_depot_list %}
                    <td style="width:1cm;" class="top-border left-border">{{ subscription|sub_size:size|count|default:'' }}</td>
                {% endfor %}
            {% endfor %}
            <td class="top-border left-border" style="width: 5cm;">{{ subscription.primary_member.get_name }}</td>
            <td class="top-border left-border right-border" style="width: 8cm;">{{ subscription.other_recipients_names_w_linebreaks }}</td>
        </tr>
    {% endfor %}
    </table>
    <br/>
    <div>
    {% for message in messages %}
        <div style="width: 100%; text-align: center; font-size: 18pt;">{{ message }}</div>
    {% endfor %}
    </div>
    <div class="page-break"></div>
{% endfor %}
</body>
</html>
