{% extends "juntagrico/menu/admin/members.html" %}
{% load i18n %}
{% block sub %}
    {% if perms.juntagrico.change_member or perms.juntagrico.can_filter_members %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'manage-member-active' %}">
                {% blocktrans %}Mitglieder{% endblocktrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'manage-member' %}">
                {% blocktrans %}Alle{% endblocktrans %}
            </a>
        </li>
    {% endif %}
{% endblock %}