/* general overrides of bootstrap */
@font-face {
    font-family: 'Oxygen';
    src: url('/static/fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('/static/fonts/Oxygen-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('/static/fonts/Oxygen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.btn-success {
    background-color: #4c9434;
    border-color: #4c9434;
}

a {
    color: #753D18;
}

a.canceled {
    color: #A94442;
    text-decoration: line-through;
}

a.canceled:hover, a.canceled:focus {
    color: #A94442;
}

a:hover, a:focus {
    color: #753D18;
}

html, body {
    font-family: "Oxygen", monospace;
	background-image: url(/static/img/mag_back.jpg);
}

#calendar-toolbar {
    background-image: url(/static/img/mag_back.jpg);
}

html {
    font-size: initial;
}

body {
    font-size: 1.125rem;
}

.headerspace {
    display: none;
}

.page-title h3, .allcontent h3 {
    color: #4c9434;
}

h1, h2, h3, h4, h5, h6, .main-menu {
    font-family: "Oxygen", serif;
}

/* menu */
.nav-link.active {
    color: #e57f32;
}

.nav-link:hover {
    color: #4c9434;
}

.admin-menu {
    font-size: inherit;
}

/* Apply mag logo */
.juntagrico-logo, #home .juntagrico-logo {
    background: url(/static/img/mehalsgmues_logo.png) center center;
    background-size: contain;
    display: inline-block;
    width: 280px;
    height: 307px;
}

.jobs .full {
    opacity: 0.2;
}

#filter-table {
    background-color: white;
}

#filter-table tr.odd {
    background-color: #fffff7;
}

#filter-table tr.even {
    background-color: #ecf4e1;
}

#filter-table th.sorting_asc::before {
   content: '^\0000a0'
}

#filter-table th.sorting_desc::before {
   content: 'v\0000a0'
}

#filter-table th {
    background-color: #4c9434;
    color: white;
}

#filter-table_wrapper > div.justify-content-between {
    background-image: url(/static/img/mag_back.jpg);
}

/* collapse symbol on job */
td.details-control, tr.shown td.details-control {
    color: #4c9434;
}

/* visibility of links in menu */
.yellow {
    color: #a16c00 !important;
}

/* make link to jobs big and red */
#home .content-container a[href="/my/jobs"],
#juntagrico-views-home .content-container a[href="/my/jobs"]{
    font-size: 20pt;
    font-weight: bold;
    color: #F4441C;
}

/* job calendar */
.table-bordered td, .table-bordered th {
    border-color: black;
}

/* flexible job info */
.flexible-jobs {
    font-family: "Arial", sans-serif;
    font-size: 16pt;
}

.flexible-jobs-table {
    height: 650px;
    padding: 0;
}

/* share progress bar */
.share-progress {
    max-width: 600px;
    margin: 0 auto;
}

/* notification bubble */
.nav-link sup.notify, .nav-link sup.bubble {
    background-color: #4c9434;
    display: inline-block;
    height: 1.2em;
    border-radius: 0.6em;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    color: white;
    padding: 0 0.45em;
}

.nav-link sup.notify-0 {
    display: none;
}

/* wordpress */
.wp-title {
    margin-top: 1.5em;
    color: #4c9434;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
