/* general overrides of bootstrap */

@font-face {
    font-family: 'Oxygen';
    src: url('/static/fonts/Oxygen-Regular.ttf') format('truetype');font-weight: normal; font-style: normal;
    src: url('/static/fonts/Oxygen-Light.ttf') format('truetype');font-weight: lighter; font-style: normal;
    src: url('/static/fonts/Oxygen-Bold.ttf') format('truetype');font-weight: bold; font-style: normal;
}

a {
    color: #753D18;
}

a.canceled {
    color: #A94442;
    text-decoration: line-through;
}

a.canceled:hover, a.canceled:focus {
    color: #A94442;
}

ul {
    padding-left: 20px;
}

a:hover, a:focus {
    color: #753D18;
}

html, body {
    font-family: "Oxygen", monospace;
    font-size: 16px;
    background-color: #fffff7;
	background-image:  url(/static/img/mag_back.jpg);
	background-repeat: round;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .main-menu {
    font-family: "Oxygen", serif;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 30px;
}

/* general stuff */

.main-menu {
    font-size: 19px;
}

.main-menu li a {
    padding: 0;
    line-height: 34px;
}

.main-menu li a {
    padding: 0;
}

.logo {
    background: url(/static/img/mehalsgmues_logo.png) center center;
    display: inline-block;
    width: 280px;
    height: 310px;
}

.logo:hover {
    background-position: 0 0px;
}

.container {
    min-height: 100%;
    position: relative;
    padding: 0px 40px 0 40px;
}

/* menu */
.nav-pills > li.active > a {
    color: #e57f32;
    background-color: transparent;
}

.nav-pills.nav-stacked > li > a, .nav-pills ul.nav-pills.nav-stacked > li:last-child > a {
    background-color: transparent;
}

.nav-pills > li.active > a:hover, .nav-pills > .active > a:focus {
    color: #753D18;
    background-color: transparent;
}

.nav-pills > li > a {
    border-radius: 0;
    margin-top: 0;
    line-height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -20px;
    padding-left: 20px;
}

.nav-pills.nav-stacked > li {
    width: 280px;
}

.nav-pills.nav-stacked > li > a, .nav-pills ul.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 0;
}

.nav-pills a:hover {
    background: url(/static/img/mag_kreuz.png) no-repeat left;
    text-decoration: underline !important;
}

.activeItem {
    display: none;
}

.active > a > .activeItem {
    display: inline-block;
    font-size: 50px;
    float: right;
	margin-right:-15px;
	margin-top:-3px
}

.nav-pills ul {
    margin-bottom: 0;
    background-color: transparent;
}

.nav-pills ul.nav-pills > .active > a, .nav-pills ul.nav-pills > .active > a:hover, .nav-pills ul.nav-pills > .active > a:focus {
    background-color: transparent;
}

/* medias */
.year {
    opacity: 0.7;
}

.medias tr.newYear {
    border-top: 1px #ddd solid;
}

.medias.table th, .medias.table td {
    border: 0;
}

.medias tr {
    display: none;
}

.medias tr.shown, .medias tr.newYear {
    display: table-row;
}

/* links */
.link .desc, .document .desc {
    padding-top: 5px;
    padding-left: 35px;
    background: url(/static/img/tomate_y.png) no-repeat left -88px;
}

/* contact */
#map-canvas {
    display: inline-block;
    width: 560px;
    height: 300px;
}

.addresses {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* gallery */
.lastImg, .lastImg:hover, .nextImg, .nextImg:hover {
    position: relative;
    display: inline-block;
    z-index: 100;
    opacity: 1;
    font-size: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}

.photo-gallery {
    display: block;
    clear: both;
    overflow: auto;
}

.gallery-photo {
    text-align: center;
    list-style: none;
}

.galleryDate {
    padding-bottom: 20px;
}

.impersonate {
    position: relative;
    top: 70px;
}



.juntagrico_logo {
    background: url(/static/img/mehalsgmues_logo.png) center center;
    display: inline-block;
    width: 280px;
    height: 310px;
}

.pagetitle {
    margin-top: 5px;
}

.next-jobs {
    margin-top: 5px;
}

.next-jobs .time {
    margin-bottom: 10px;
    font-size: 14px;
}

.jobs .date {
    width: 150px;
}

.jobs .status {
    padding-left: 30px;
}

.jobs .full {
    opacity: 0.2;
}

#jobs .list {
    width: 100%;
}

#jobs_header, #filter-locos_header {
    margin-bottom: 20px;
}

a.joblink {
    font-size: 30pt;
    font-weight: bold;
    color: #F4441C;
}

#filter-locos a {
    color: white;
    text-decoration: underline;
}

#jobs_footer, #filter-locos_footer {
    margin-top: 20px;
}

#jobs_page_prev, #jobs_page_next, #filter-locos_page_prev, #filter-locos_page_next {
    display: none !important;
}

#jobs th, #filter-locos th {
    background-color: #4c9434;
    color: white;
}

#jobs .table-sort {
    font-family: Arial;
    font-size: 12;
}

.jobstatus {
    margin-right: -7px;
}

.createabo .control-label {
    font-size: 18px;
    font-weight: bold;
}

.createabo label {
    font-weight: normal;
}

.createabo #depot {
    margin-bottom: 3px;
}

#map-canvas {
    width: 100%;
    height: 400px;
}

#depot #map-canvas {
    margin-left: 180px;
    width: 400px;
    height: 440px;
}

.politoloco {
    height: 30px;
    background: url('/static/img/erbse_x_politoloco.png') repeat-x;
}

.high-label {
    line-height: 35px;
}

.high-label input[type=checkbox] {
    margin-top: 9px;
}

.file-upload {
    line-height: 30px;
}

.file-upload-button {
    display: inline-block;
    position: relative;
}

.file-upload-button > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#filter-table {
    width: 1000px;
    font-size: 10px;
}

#filter-table tr.odd {
    background-color: #fffff7;
}

#filter-table tr.even {
    background-color: #ecf4e1;
}

#filter-table th.sorting_asc::after {
   content: ' ^'
}

#filter-table th.sorting_desc::after {
   content: ' v'
}

#filter-table_filter {
    text-align: right;
}

#filter-table table {
    font-size: 10px;
}

textarea#recipients {
    width: 100%;
}
textarea#recipients[disabled=disabled] {
    background: transparent;
    border: none;
    cursor: default;
}

#edit-recipients-action {
    font-size: smaller;
}
#edit-recipients-action::before {
    content : "(";
}
#edit-recipients-action::after {
    content : ")";
}

.nav li.inline a {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}

.nav li.inline a:hover {
    background: none;
}

table.future {
    width: 100%;
    margin-top: 50px;
}

table.future th{
    text-align: left;
}

table.future td{
    line-height: 30px;
}

.loco-job-comments {
    font-style: italic;
}

#filter-table {
    width: 100%;
}

#filter-table table {
    width: 100%;
}

.main-menu {
    font-size: 16px;
    margin-top: 30px;
}

.section-title {
    font-size: 12px;
    margin-top: -20px;
}

.yellow {
    color: #a16c00 !important;
}
