{% load mag_widgets %}
<div class="row">
    <div class="col-md-12">
        <p>Wir flyern weiter, solange wir noch freie EAT und übrige Flyer haben.</p>
        <h4>So Funktioniert's</h4>
        <ul>
            <li>
                <b>Gebiet reservieren:</b> Wähle unten ein geeignetes Gebiet auf der Karte aus, welches rot oder gelb ist.
                Klicke es an und wähle Einsatz öffnen, danach "Bestätigen" am Ende der Seite.
            </li>
            <li>
                <b>Flyer abholen:</b> Du kannst die Flyer in der Gärtnerei abholen.
                Du benötigst schätzungsweise 1000 Flyer pro Gebiet. Das wiegt fast 5kg.
            </li>
            <li>
                <b>Flyer verteilen:</b> Verteile die Flyer in deinem gewählten Gebiet. Schaue genau, bis wohin dein Gebiet geht.
                Drucke die Karte, falls es dir hilft, vorher aus.
                <ul>
                    <li>
                        <b>Wann du willst:</b> Du kannst die Verteilung auch pausieren und an einem anderen Tag weiter machen. Markiere in dem Fall wo du warst.
                    </li>
                    <li>
                        <b>Briefkästen:</b> Verteile die Flyer in alle Briefkästen, aber nur in Briefkästen. Bitte <u>nicht</u> bei Scheibenwischern einklemmen o.ä.<br>
                        Der "Keine Werbung"-Wunsch ist nicht rechtlich bindend.
                        Falls du in Diskussionen gerätst, verweise auf deinen "Arbeitgeber" meh als gmües. Die Adresse steht auf dem Flyer.
                    </li>
                    <li>
                        <b>Verschlossene Türen:</b> Grosse Wohnblöcken hat es meist eine unbeschriftete, oder seltsam beschriftete Klingel (wohnt hier wirklich ein P.Ost?),
                        welche mindestens um die Mittagszeit die Tür öffnet. Pöstler*innen kommen so rein.<br>
                        Falls du dich traust kannst du auch einfach irgendwo läuten.
                    </li>
                </ul>
            </li>
            <li>
                <b>Übrige Flyer:</b> Bitte zurückbringen.
            </li>
            <li>
                <b>Überstunden:</b> Falls du für dein Gebiet mehr als 4 Stunden aufgewendet hast, kannst du
                <a href="{% url "ar-request-assignment" %}">hier zusätzliche Böhnli anmelden.</a> Mit David G. abgesprochen.
            </li>
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-md-12">
        <h4>Fragen?</h4>
        <a class="btn btn-primary" href="mailto:{% email_of 157 %}?subject=Flyereinsatz">
            melde dich bei David
        </a>
    </div>
</div>
