{% load static %}
<script type="text/javascript" src="{% static 'juntagrico/external/leaflet/leaflet.js' %}"></script>
<script type="text/javascript" src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script type="text/javascript" src="{% static 'mapjob/external/leaflet-legend/leaflet.legend.js' %}"></script>
<script type="text/javascript" src="{% static 'juntagrico/external/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mapjob/js/mapjob.js' %}"></script>