{% load util %}
{% load i18n %}
{% if request.user.is_staff %}
    <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#statssubman">
        {% blocktrans %}Statistik{% endblocktrans %}
        <i class="fas fa-angle-right"></i>
    </a>
    <div class="collapse" id="statssubman">
        <ul class="nav flex-column subadmin-menu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mag-indexes' %}">
                    {% trans "Kennzahlen" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mag-stats-subscription' %}">
                    {% trans "EAT-Verlauf" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mag-stats' %}">
                    {% trans "Mobilisierung" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mag-stats-assignments' %}">
                    {% trans "Einsätze" %}
                </a>
            </li>
        </ul>
    </div>
    </li>
{% endif %}
{% if perms.juntagrico.can_view_lists %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'lists-mgmt' %}">Depotlisten&shy;erzeugung</a>
</li>
{% endif %}
{% if request.user.is_staff %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'depot-mgmt-changelist' %}">Depotänderungen</a>
</li>
{% endif %}
{% if perms.juntagrico.view_shares %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'share-mgmt-unpaid' %}">Unbezahlte Anteilscheine</a>
</li>
{% endif %}
</ul>
<hr>
<ul class="admin-menu nav flex-column">
<li class="nav-item">
    <a class="nav-link" href="https://cloud.mehalsgmues.ch/apps/files">Dateiablage</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://drive.google.com/drive/folders/0B2FX7EhGd2-ZWXpkaEZfZXdhbDg">Google Drive</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://cloud.mehalsgmues.ch/apps/calendar">Kalender</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://my.mehalsgmues.ch/t/password">Passwörter</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="https://login.mailchimp.com/">Mailchimp</a>
</li>