{% load util %}
</ul>
<hr>
<ul class="main-menu nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="//forum.mehalsgmues.ch">Forum
            <sup class="notify notify-0">0</sup>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="//wiki.mehalsgmues.ch/w/Telegram_Chats">Chats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="//wiki.mehalsgmues.ch" target="_blank">Wiki<sup class="bubble">Aktuell</sup></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://us19.campaign-archive.com/home/?u=ff9863841bc0bf6a94742cb35&id=f81aef2584" target="_blank">Wochenmails</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="//mehalsrezept.ch" target="_blank">Rezepte</a>
    </li>