{% if edit_url.strip or add_url.strip %}
    <div class="row mb-3">
        <div class="col-md-12">
            {% if edit_url.strip %}
                <a href="{{ edit_url }}" class="edit">
                    <i class="bi bi-pencil-square">
                    </i>
                    Bearbeiten
                </a>
            {% endif %}
            {% if add_url.strip %}
                <br/>
                <a href="{{ add_url }}" class="edit">
                    <i class="bi bi-plus">
                    </i>
                    Steckbrief erstellen
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}