{% extends "job.html" %}
{% load static %}
{% load mapjob %}
{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}

{% block page_title %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% else %}
        <h3>
        {{ job }}
        <a href="{% url 'admin:mapjob_mapjob_change' job.id %}" class="edit">
            <i class="fas fa-pen">
            </i>
        </a>
        </h3>
    {% endif %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% include 'mapjob/snippets/map/styles.html' %}
{% endblock %}

{% block content %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% else %}
        <div class="alert alert-warning">
            Weitere Flyergebiete findest du
            <a href="{% url "mapjob:member_dashboard" %}" style="text-decoration: underline">
                auf der Karte
            </a>.
        </div>
        {% vocabulary "assignment_pl" as v_assignment_pl %}
        {% if job.free_slots > -1 %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Status" %}:
            </div>
            <div class="col-md-5">
                {% spaceless %}
                {% for i in slotrange %}
                    {% if i < number_of_participants %}
                        <img class="" src="{% images "single_full" %}"title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                    {% else %}
                        <img class="" src="{% images "single_empty" %}"title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                    {% endif %}
                {% endfor %}
                {% endspaceless %}
            </div>
        </div>
        {% endif %}
        {% if job.multiplier > 1 %}
            <div class="row pb-4">
                <div class="col-md-3">
                    {% vocabulary "assignment_pl" %}:
                </div>
                <div class="col-md-5">
                    {% blocktrans trimmed with jm=job.multiplier %}
                    Du erhälst für diesen Job das {{ jm }} fachen an {{ v_assignment_pl }} gutgeschrieben.
                    {% endblocktrans %}
                </div>
            </div>
        {% elif job.multiplier == 0 %}
            <div class="row pb-4">
                <div class="col-md-3">
                    {% vocabulary "assignment_pl" %}:
                </div>
                <div class="col-md-5">
                    {% blocktrans trimmed with jm=job.multiplier %}
                    Du erhältst für diesen Event keine {{ v_assignment_pl }} gutgeschrieben.
                    {% endblocktrans %}
                </div>
            </div>
        {% endif %}

        {% if job.extras.strip %}
            <div class="row pb-4">
                <div class="col-md-3">
                    {% trans "Extras" %}:
                </div>
                <div class="col-md-5">
                    {% for extra in job.empty_per_job_extras %}
                        {{ extra.extra_type.display_empty|safe }}
                    {% endfor %}
                    {% for extra in job.full_per_job_extras %}
                        {{ extra.extra_type.display_full|safe }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Gebiet" %}:
            </div>
            <div class="col-md-9">
                <div class="map-container"></div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Beschreibung" %}:
            </div>
            <div class="col-md-5">
                <div class="job-description">{{ job.type.description|richtext|safe }}</div>
                {% if job.additional_description %}
                    <div class="job-additional-description">{{ job.additional_description|richtext|safe }}</div>
                {% endif %}
            </div>
        </div>
        {% if can_contact %}
            <div class="row pb-4">
                <div class="col-md-3">
                    {% trans "Kontaktieren" %}:
                </div>
                <div class="col-md-5">
                    <form id="email-sender" action="{% url 'mail-job' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="recipients" id="recipients" value="{{ emails }}"/>
                        <input type="hidden" name="recipients_count" id="recipients_count"value="{{ number_of_participants }}"/>
                        <button type="submit" class="btn" id="send-email">
                            {% trans "Allen eine Email senden" %}
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Dabei sind" %}:
            </div>
            <div class="col-md-5">
                {% if number_of_participants == 0 and not job_fully_booked %}
                    {% trans "Noch niemand" %} 🥺
                {% else %}
                    <ul>
                        {% for participant, url, reachable, extras in participants_summary %}
                            <li>
                                {{ participant }}
                                {{ extras|safe }}
                                {% if reachable %}
                                    &nbsp;
                                    <a href="{{ url }}">
                                        <i class="far fa-envelope">
                                        </i>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% if job.free_slots > 0 %}
            <div class="row">
                <div class="col-md-3">
                    {% trans "Ich trage mich ein" %}:
                </div>
                <div class="col-md-3">
                    {% include "mapjob/snippets/member/action/register.html" %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% else %}
        {{ job.geo_area|json_script:'map_job_data' }}
        {% include 'mapjob/snippets/map/scripts.html' %}
    {% endif %}
{% endblock %}
