{% extends "job.html" %}
{% load static %}
{% load mapjob %}
{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}

{% block styles %}
    {{ block.super }}
    {% if job|is_map_job %}
        {% include 'mapjob/snippets/map/styles.html' %}
    {% endif %}
{% endblock %}

{% block admin_actions %}
    {% if job|is_map_job %}
        {% if edit_url.strip or can_copy or can_cancel %}
            <div class="row pb-4">
                <div class="col-12">
                    {% if edit_url.strip %}
                        <a href="{{ edit_url }}" class="btn btn-primary">
                            <i class="fas fa-pen mr-1"></i>
                            {% trans "Einsatz bearbeiten" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block time %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block location %}
    {% if job|is_map_job %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Gebiet" %}:
            </div>
            <div class="col-md-9">
                <div class="map-container"></div>
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block contact %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block subscribe %}
    {% if job|is_map_job %}
        {% if job.free_slots > 0 %}
            <div class="row">
                <div class="col-md-3">
                    {% trans "Ich trage mich ein" %}:
                </div>
                <div class="col-md-3">
                    {% include "mapjob/snippets/member/action/register.html" %}
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if not job|is_map_job %}
        {{ block.super }}
    {% else %}
        {{ job.geo_area|json_script:'map_job_data' }}
        {% include 'mapjob/snippets/map/scripts.html' %}
    {% endif %}
{% endblock %}
