{% extends "juntagrico/menu/admin.html" %}
{% load util %}
{% load i18n %}
{% block member_sub %}
    {% if perms.juntagrico.change_member or perms.juntagrico.can_filter_members %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'filters-active' %}">
                {% blocktrans %}Mitglieder{% endblocktrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'filters' %}">
                {% blocktrans %}Alle{% endblocktrans %}
            </a>
        </li>
    {% endif %}
{% endblock %}
{% block extend %}
    {{ block.super }}
    {% if request.user.is_staff %}
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#statssubman">
            {% blocktrans %}Statistik{% endblocktrans %}
            <i class="fas fa-angle-right"></i>
        </a>
        <div class="collapse" id="statssubman">
            <ul class="nav flex-column subadmin-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mag-indexes' %}">
                        {% trans "Kennzahlen" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mag-stats-subscription' %}">
                        {% trans "EAT-Verlauf" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mag-stats-share' %}">
                        {% trans "AS-Verlauf" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mag-stats' %}">
                        {% trans "Mobilisierung" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mag-stats-assignments' %}">
                        {% trans "Einsätze" %}
                    </a>
                </li>
            </ul>
        </div>
        </li>
    {% endif %}
    </ul>
    <hr>
    <ul class="admin-menu nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="https://werkzeug.mehalsgmues.ch/apps/files">Dateiablage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://drive.google.com/drive/folders/0B2FX7EhGd2-ZWXpkaEZfZXdhbDg">Google Drive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://werkzeug.mehalsgmues.ch/apps/calendar">Kalender</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://my.mehalsgmues.ch/t/password">Passwörter</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="https://emailoctopus.com/dashboard">EmailOctopus</a>
    </li>
{% endblock %}