{% extends "juntagrico/menu/user.html" %}
{% load util %}
{% block extend %}
    {{ block.super }}
    </ul>
    <hr>
    <ul class="main-menu nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="//forum.mehalsgmues.ch">Forum
                <sup class="notify notify-0">0</sup>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="//handbuch.mehalsgmues.ch/w/Telegram_Chats">Chats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="//handbuch.mehalsgmues.ch" target="_blank">Handbuch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="//mehalsrezept.ch" target="_blank">Rezepte</a>
        </li>
{% endblock%}