{% load juntagrico.config %}
{% load i18n %}
<div class="row mb-3">
    <div class="col-md-12">
        <h3>Automatische Verlängerung der Ernteanteile</h3>
        <p class="lead">
            Wie jedes Jahr kannst du Ernteanteile bis am 31. Januar kündigen oder deinen Betriebsbeitrag anpassen.
        </p>
        {% with sub=request.user.member.subscription_current future_sub=request.user.member.subscription_future %}
            {% if sub %}
                {% include 'mag/snippets/price_change_table.html' with sub=sub %}
            {% endif %}
            {% if future_sub %}
                <p>Du startest nächste Saison neu oder du wechselst zu einer neuen Ernteanteilgruppe:</p>
                {% include 'mag/snippets/price_change_table.html' with sub=future_sub %}
            {% endif %}
            {% if sub or future_sub %}
                <p>Du kannst deine Ernteanteile bis am <strong>31. Januar 2024</strong> anpassen.</p>
                {% if future_sub %}
                    {% include 'mag/snippets/price_change_button.html' with sub=future_sub %}
                {% else %}
                    {% include 'mag/snippets/price_change_button.html' with sub=sub %}
                {% endif %}
            {% else %}
                <p>Du hast keine Ernteanteile oder wirst nächste Saison keine mehr haben.</p>
            {% endif %}
        {% endwith %}
        <p>Hast du Fragen, gibt es Unstimmigkeiten oder brauchst du Unterstützung, helfen wir dir gerne weiter:
            <a href="mailto:{% contacts "for_members" %}">{% contacts "for_members" %}</a>.</p>
    </div>
</div>