{% load mag_widgets %}
{% load i18n %}
{% available_subscriptions as subs %}
{% if subs > 1 %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h3>Anpassung der Betriebsbeiträge</h3>
            <p class="lead">
                Wie an der GV vom 29.11.2022 entschieden, werden die Betriebsbeiträge auf die nächste Saison 2023/2024 angepasst.
            </p>
            {% with request.user.member.subscription_future as sub %}
                {% if sub %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ernteanteile</th>
                                <th scope="col">Bisher [CHF]</th>
                                <th scope="col">Ab 1. April 2023 [CHF]</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for part in sub.parts.all %}
                                <tr>
                                    <th scope="row">{{ part }}</th>
                                    <td>{% if part.active %}{{ part.type.old_price }}{% else %}Noch nicht aktiv{% endif %}</td>
                                    <td>{% if part.canceled %}Gekündigt{% else %}{{ part.type.price }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row">Total</th>
                                <td>{{ sub.old_price }}</td>
                                <td class="bg-primary">{{ sub.future_price }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Du kannst deine Ernteanteile bis Ende Januar anpassen.</p>
                    <p><a href="{% url 'size-change' sub.id %}" class="btn btn-warning">Ernteanteile anpassen</a></p>
                {% else %}
                    <p>Du hast keine Ernteanteile oder wirst nächste Saison keine mehr haben.</p>
                {% endif %}
            {% endwith %}
            <p>Hast du Fragen, gibt es Unstimmigkeiten oder brauchst du Unterstützung, helfen wir dir gerne weiter:
                <a href="mailto:{% member_admin_email %}">{% member_admin_email %}</a>.</p>
        </div>
    </div>
{% endif %}