{% load mag_widgets %}
{% load i18n %}
{% available_subscriptions as subs %}
{% if subs > 1 %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h3>Noch {{ subs|floatformat }} Ernteanteile zu vergeben</h3>
            <p class="lead">
                Lass die Nordzürcher*innen davon wissen.
            </p>
            <p>
                <strong>Erzähle</strong> deinen Bekannten in der Region von meh als gmües,
                lade sie in den Garten ein, oder schreibe ihnen eine Nachricht um sie wissen zu lassen, dass wir derzeit freie Ernteanteile haben.
            </p>
            <p class="small">
                Deine Bemühungen werden dir mit einem Böhnli pro vermitteltem EAT vergütet.
                Entweder erwähnt dich das neue Mitglied bei der Bestellung im Kommentar, oder du kannst
                <a href="/ar/assignment/request">das Böhnli nachträglich hier melden</a>.
            </p>
            <p>
                Böhnli kannst du dir auch beim <strong>Flyern</strong> verdienen. Such dir
                <a href="/t/verteilkarte2022">auf der Karte ein noch blaues Gebiet</a> aus und informiere die Projektgruppe über deine Wahl.
                Am einfachsten geht das über unseren <a href="/t/werbung">Chat</a> oder per Mitteilung an {% member_and_phone 157 %}
                (Derzeit nur Nachrichten keine Anrufe).
            </p>
        </div>
    </div>
{% endif %}