.map-container {
    height: 40rem;
    max-height: 100%;
}

.map-container .leaflet-legend-title {
    margin-bottom: 0;
}

.map-container .leaflet-legend-item i {
    padding: 0;
}

select#id_pickup_location {
    width: 10em;
}