#job-map {
    height: 40rem;
    max-height: 100%;
}

#job-map .leaflet-legend-title {
    margin-bottom: 0;
}

#job-map .leaflet-legend-item i {
    padding: 0;
}

select#id_pickup_location {
    width: 10em;
}