{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            {# fixed typos here #}
            {% trans "Deine Anteilscheine wurden bestellt. Du erhältst in Kürze ein E-Mail mit den Zahlungsinformationen." %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            {% trans "Solltest du Fragen dazu haben sende eine Email an" %}
            {# changed email here #}
            <a href="mailto:mitglied@mehalsgmues.ch?subject={% trans "Frage zu unbezahltem Anteilsschein" %} {% config "server_url" %}">
                mitglied@mehalsgmues.ch
            </a>
            .
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <a href="{{ referer }}" class="btn btn-success">
                {% trans "zurück" %}
            </a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
