{% load crispy_forms_tags %}
{% load i18n %}
{% include 'management_lists/snippets/email_sender.html' %}
<div class="row mb-3">
    <div class="col-md-12">
        <table id="filter-table" class="list table" style="width: 100%">
            <thead>
                <tr>
                    <th class="align-top table-search">
                        {% trans "Gebiet" %}
                    </th>
                    <th class="align-top job-progress">
                        {% trans "Stand" %}
                    </th>
                    <th class="d-none"></th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>
                            <a href="{% url 'job' job.id %}" class="{{ job.get_css_classes }}">
                                {{ job.geo_area.properties.name }}
                            </a>
                        </td>
                        <td class="map-popup-{{ job.id }}">
                            {{ job.get_progress_display }}
                        </td>
                        <td class="email d-none">
                            {% if can_send_mails or perms.juntagrico.can_send_mails %}
                                {{ job.participant_emails|join:',' }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>