{% extends "jgo/godparent.html" %}
{% load juntagrico.config %}
{% load jgo.config %}
{% block godparent_info %}
    {% jgo_config "contact" as c_contact %}
    <h4>Informationen zur Patenschaft</h4>
    <p>Als Gotte/Götti erleichterst du neuen Mitgliedern deren Start bei meh als gmües (mag).
        Du führst in unsere Community und den Alltag bei uns ein und stehst bei Fragen zur Verfügung.</p>
    <h5>Deine Aufgaben</h5>
    <ul>
        <li>Du nimmst <em>innerhalb von zwei Wochen nach der Zuteilung</em> mit dem neuen Mitglied Kontakt auf.</li>
        <li><em>Innerhalb von sechs Wochen nach der Zuteilung</em> leistet ihr gemeinsam einen Arbeitseinsatz.<br>
            Bei diesem Einsatz zeigst du dem neuen Mitglied die Gärtnerei, machst es mit anderen mag-Mitgliedern und Schlüsselpersonen vor Ort bekannt.
            Du beantwortest Fragen und vermittelst, was solidarische Landwirtschaft (SoLaWi) und die Genossenschaft für dich bedeuten.<br>
            Dafür orientierst du dich an der
            <strong><a href="/t/patenschaft_checkliste" target="_blank">Checkliste</a></strong>.</li>
        <li>Du stehst dem Neumitglied weiterhin als Ansprechperson zur Verfügung (es darf dich kontaktieren).</li>
        <li>Du erkundigst dich nach den Interessen und kümmerst dich um die Vernetzung mit Mitgliedern mit ähnlichen
            Interessen und/oder passenden Arbeits- und Projektgruppen.
            Wirf für offene Aufgaben gerne einen Blick auf <a href="https://gesucht.mehalsgmues.ch">gesucht.mehalsgmues.ch</a>.
            Zudem unterstützt dich die Patenschaftsbetreuung (<a href="mailto:{{ c_contact }}">{{ c_contact }}</a>) beim Finden passender Aufgaben.</li>
    </ul>
    <h5>Das bringst du mit</h5>
    <ul>
        <li>Du bist mindestens ein Jahr Mitglied bei mag.</li>
        <li>Du magst Menschen und gehst interessiert und offenen auf sie zu.</li>
        <li>Dir liegt der Zusammenhalt der mag-Community und der SoLaWi-Gedanke am Herzen.</li>
    </ul>
    <h5>Darauf darfst du dich freuen</h5>
    <ul>
        <li>Du lernst über deine Projekt- /Arbeitsgruppe hinaus neue Mitglieder kennen, kommst ins Gespräch über neue Themen
            und leistest einen wichtigen Beitrag zum Zusammenhalt unserer Community.</li>
        <li>Du erhältst für deine Arbeit als Gotte/Götti (zusätzlich) ein Böhnli.
            <a href="https://my.mehalsgmues.ch/ar/assignment/request">Bitte um Antrag via diesem Link („Arbeitseinsatz melden“)</a>.</li>
    </ul>
{% endblock %}

