{% load i18n %}
{% if emails > 0 %}
    <div class="alert alert-info">
        {% blocktrans %}Es sind noch {{ emails }} E-Mail(s) an {{ recipients }} Person(en) im Postausgang.{% endblocktrans %}
        <br>
        {% if can_see_outbox %}
            <a href="{% url 'mail-queue' %}" class="btn btn-info">
                <i class="bi bi-inbox"></i>
                {% trans "Postausgang öffnen" %}
            </a>
        {% else %}
            <a href="" class="btn btn-info">
                <i class="bi bi-arrow-clockwise"></i>
                {% trans "Aktualisieren" %}
            </a>
        {% endif %}
    </div>
{% elif show_empty %}
    <div class="alert alert-success">
        {% blocktrans %}E-Mails wurden verschickt.{% endblocktrans %}
        {% blocktrans %}Der Postausgang ist leer.{% endblocktrans %}
    </div>
{% endif %}

{% for error in errors %}
    <div class="alert alert-danger">
        {{ error.last_error }}
    </div>
{% endfor %}
