{% extends "base.html" %}
{% load i18n %}
{% load juntagrico_mailqueue.widgets %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% if sent is None %}
            {% trans "E-Mails im Postausgang" %}
        {% elif sent > 0 %}
            {% trans "E-Mail(s) werden verschickt!" %}
        {% else %}
            {% trans "E-Mail(s) werden NICHT verschickt!" %}
        {% endif %}
    </h3>
{% endblock %}

{% block content %}
    {% if sent > 0 %}
        <div class="alert alert-success">
            {% blocktrans %}Email an {{ sent }} Personen wurde in den Postausgang gelegt.{% endblocktrans %}
        </div>
    {% elif sent is not None %}
        <div class="alert alert-warning">
            {% trans "Email wurde NICHT verschickt." %}
        </div>
    {% endif %}

    {% outbox_banner show_empty=True can_see_outbox=perms.juntagrico_mailqueue.view_emailmessage %}
{% endblock %}
