{% extends "cf/public_access_wrapper.html" %}
{% load config %}
{% block page_title %}
    <h3>{{ fp.title }}</h3>
{% endblock %}

{% block content %}

    <h4>{{ fp.vocabulary_fundables }}</h4>
    <table id="filter-table" class="list table" style="display: table; font-size: 14px;">
	    <thead>
        	<tr>
                <th>Bezeichnung</th>
        		<th>noch verfügbar</th>
        		<th>Betrag pro Einheit</th>
        	</tr>
	    </thead>
	    <tbody> 
            {% for f in fundables %}
            {% if f.available > 0 %}
            <tr>
            	<td><a href="/cf/view/{{ f.id }}">{{ f.name }}</a></td>
            	<td>{{ f.available }}</td>
            	<td>{{ f.price }} {% config "currency" %}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for f in fundables %}
            {% if f.available == 0 %}
            <tr>
            	<td><s><a href="/cf/view/{{ f.id }}">{{ f.name }}</a></s></td>
            	<td><s>{{ f.available }}</s></td>
            	<td><s>{{ f.price }} {% config "currency" %}</s></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if user.is_authenticated and my_funds.count > 0 %}
    <br>
    <h4>Deine {{ fp.vocabulary_fundables }}</h4>
    <table id="filter-table" class="list table" style="display: table; font-size: 14px;">
	    <thead>
        	<tr>
                <th>Name</th>
        	<th>Betrag</th>
                <th>Eingegangen am</th>
                <th>Bezahlt am</th>
        	</tr>
	    </thead>
	    <tbody> 
            {% for m in my_funds %}
            <tr>
            	<td><a href="/cf/view/{{ m.fundable.id }}">{{ m.fundable.name }}</a></td>
            	<td>{{ m.contribution }} {% config "currency" %}</td>
          	    <td>{{ m.date_ordered }}</td>
            	<td>{{ m.date_paid | default_if_none:"Ausstehend" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
