{% extends "cf/public_access_wrapper.html" %}
{% load config %}
{% block page_title %}
    <h3>{{ fundable.name }}</h3>
{% endblock %}

{% block content %}

    <div><a href="/cf/list/{{ fundable.funding_project.id }}">&leftarrow; Zur Übersicht</a></div><br>

    <div>{{ fundable.description }}</div>
    <div>Preis/Einheit: {{ fundable.price }} {% config "currency" %}</div>
    <div>Finanziert: {{ fundable.funded_ratio|floatformat:0 }}%</div>

    {% if not fundable.is_funded %}
    <br>
    <h4>Ermöglichen</h4>

    <form action="/cf/view/{{ fundable.id }}/" method="POST">
        {% csrf_token %}
        <div class="form-group row {% if fundForm.quantity.errors %}invalid{% endif %}">
            <label class="col-md-4" for="id_quantity">{{ fundForm.quantity.label }}&nbsp;*</label>

            <div class="col-md-8">
                {{ fundForm.quantity }}
                {% if fundForm.quantity.errors %}
                    <span class="help-inline">Ungültige Eingabe</span>
                {% endif %}
            </div>
        </div>

        <div class="form-group row {% if fundForm.sponsor.errors %}invalid{% endif %}">
            <label class="col-md-4" for="id_sponsor">{{ fundForm.sponsor.label }}</label>

            <div class="col-md-8">
                {{ fundForm.sponsor }}
                <span class="help-inline">{{ fundable.funding_project.vocabulary_whoIsSponsor|default:"Einen oder mehrere Vornamen auf welche die Patenschaft lauten soll. Ein leeres Feld bedeutet eine anonyme Patenschaft." }}</span>
                {% if fundForm.sponsor.errors %}
                    <span class="help-inline">Ungültige Eingabe</span>
                {% endif %}
            </div>
        </div>

        <div class="form-group row {% if fundForm.message.errors %}invalid{% endif %}">
            <label class="col-md-4" for="id_message">{{ fundForm.message.label }}</label>

            <div class="col-md-8">
                {{ fundForm.message }}
                <span class="help-inline">Optional: Müssen wir bei deiner Bestellung etwas besonderes beachten?</span>
                {% if fundForm.message.errors %}
                    <span class="help-inline">Ungültige Eingabe</span>
                {% endif %}
            </div>
        </div>

        {{ fundForm.fundable }}

        <div class="form-actions row">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-success">Ermöglichen</button>
            </div>
        </div>
    </form>
    {% else %}
    Diese Einheit ist bereits vollständig finanziert. Danke an alle Unterstützer.
    <div><a href="/cf/list/{{ fundable.funding_project.id }}">&leftarrow; Etwas anderes unterstützen</a></div><br>
    {% endif %}

{% endblock %}
