{% extends "base.html" %}
{% load mag_widgets %}
{% load static %}
{% load i18n %}
{% block page_title %}
    <h3>
        Flyergebiete
    </h3>
{% endblock %}

{% block content %}
    {% if has_jobs %}
        <div class="row pb-4">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {% trans "Du hast schon Gebiete ausgewählt." %}<br>
                    <a href="{% url 'mapjob:member_dashboard' %}" class="btn btn-primary">
                        {% trans "Verwalte deine Gebiete hier" %}
                    </a>
                    <br>
                    {% trans "Unten kannst du noch weitere auswählen, wenn du willst." %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include "mapjob/snippets/messages.html" %}

    {% include 'mapjob/snippets/map/container.html' %}

    {% include 'mapjob/snippets/snippet_job_table.html' %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% include 'mapjob/snippets/map/styles.html' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ map_job_data|json_script:'map_job_data' }}
    {% include 'mapjob/snippets/map/scripts.html' %}
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initManList.js' %}"></script>
{% endblock %}
