{% extends "job.html" %}
{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% load mag_widgets %}

{% block description %}
    {% if job.accessinformation_set.count %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% trans "Zugangsinfos" %}:
            </div>
            <div class="col-md-5 alert alert-info">
                {% for accessinfo in job.accessinformation_set.all %}
                <div> {{ accessinfo.name }} : <strong>{{ accessinfo.code }} </strong> </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block subscribe %}
    {% if request.user.member in job.participants %}
        <div class="alert alert-success">Du hast dich erfolgreich für diesen Einsatz angemeldet.<br>
            Wenn du willst, kannst du unten noch weitere Personen anmelden, die mit dir an den Einsatz kommen.<br>
            Hast du dich zu oft eingetragen?<br>
            <a href="mailto:{{ job.get_emails|join:',' }}?cc={% email_of 157 %}&subject=Einsatzabmeldung:%20{{ job.type.get_name|urlencode }}%20{{ job.start_time|date:'SHORT_DATE_FORMAT'|urlencode }}">
                Melde das gleich per E-Mail.
            </a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
