{% extends "job.html" %}
{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% load mag_widgets %}
{% block subscribe %}
    {% if request.user.member in job.participants %}
        <div class="alert alert-warning">Du bist bereits für diesen Einsatz angemeldet.
            Unten kannst du noch weitere Personen anmelden, die mit dir an den Einsatz kommen.<br>
            Hast du dich zu oft eingetragen?<br>
            <a href="mailto:{{ job.get_emails|join:',' }}?cc={% email_of 157 %}&subject=Einsatzabmeldung:%20{{ job.type.get_name|urlencode }}%20{{ job.start_time|date:'SHORT_DATE_FORMAT'|urlencode }}">
                Melde das gleich per E-Mail.
            </a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}