{% load util %}
{% if perms.juntagrico.can_view_lists %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'lists-mgmt' %}">Depotlisten&shy;erzeugung</a>
</li>
{% endif %}
</ul>
<hr>
<ul class="admin-menu nav flex-column">
<li class="nav-item">
    <a class="nav-link" href="https://cloud.mehalsgmues.ch">Dateiablage</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://drive.google.com/drive/folders/0B2FX7EhGd2-ZWXpkaEZfZXdhbDg">Google Drive</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://cloud.mehalsgmues.ch/apps/calendar">Kalender</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://cloud.mehalsgmues.ch/apps/keeweb/?open=%2FBG%2FPassw%C3%B6rter.kdbx">Passwörter</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="https://login.mailchimp.com/">Mailchimp</a>
</li>