<div class="flexible-jobs">
    <h2>Liebe Gmüeslis</h2>

    <p>Wir erhalten viele Anfragen für Arbeitseinsätze. Um der Situation gerecht zu werden und grösste Sicherheit zu gewähren,
        arbeiten wir an einem <strong>flexibleren Einsatzkonzept mit weniger Personenkontakt</strong> (Videos, Einsatz nach Absprache,...).
        <strong><a href="https://docs.google.com/spreadsheets/d/1oWpUmYm7qrCPl6I4PqHY9C3nypMfJvHQTaDCvV27kO4/edit?usp=sharing" target="_blank">Unter diesem Link</a></strong> bzw. unten
        findet ihr die <strong>flexiblen Arbeitseinsätze</strong> und eine "Bedienungsanleitung".</p>

    <p><strong>Dieses Dokument ersetzt nicht die bestehenden Arbeitseinsätze weiter unten!</strong> Unsere IT ist aktuell daran,
        die Einsätze zu integrieren, doch benötigt sie noch etwas Zeit.</p>

    <iframe class="flexible-jobs-table col-md-12" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQgIjQ80i0oJEJD9Oouuj9n95AZb30aCaLWg8NZS5wRlKtZ2kMpuH298VQSeh6fb_EsQqdmHPiR-jNx/pubhtml?gid=331293876&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

    <p>Es werden auch weiterhin einige Arbeitseinsätze wie bisher ausgeschrieben (z.B. für den Transport),
        schaut also auch hier unten noch rein. Einschreiben geht hier wie gewohnt:</p>

</div>