{% extends "createsubscription/select_shares.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block intro_1 %}
    {% config "currency" as c_currency %}
    {% config "share_price" as c_share_price %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% trans "Infos" %}:
    {% blocktrans trimmed with v_member_type=vocabulary.member_type v_share=vocabulary.share v_share_pl=vocabulary.share_pl %}
        Um {{ v_member_type }} bei {{ v_d_enriched_organisation }} zu werden, musst du mindestens
        1 {{ v_share }} ({{ c_currency }} {{ c_share_price }}) erwerben.
    {% endblocktrans %}
    <br>
    Für eine stabile Entwicklung des Betriebs sollten derzeit im Schnitt 5 AS pro EAT gezeichnet werden,
    natürlich sind auch weniger oder mehr ok. Auch kannst du später Zusätzliche erwerben.<br>
    Das in Anteilscheinen eingelegte Geld erhältst du im Falle einer Kündigung per Ende der Saison
    zurück – <b>es ist also lediglich angelegt und nicht ausgegeben</b>.

    {% comment %}
    <div class="alert alert-primary">
        <strong>Wichtig</strong>: Wenn du einen <strong>Schnupper-EAT</strong> ausgewählt hast, werden die Anteilscheine noch nicht ausgestellt.
        Aus technischen Gründen musst du hier trotzdem 1 Anteilschein auswählen.<br>
        <strong>Bitte bezahle diesen erst, wenn du nach dem Schnupper-EAT definitiv weitermachst.</strong>
    </div>
    {% endcomment %}
{% endblock %}

{% block intro_2 %}
    {% config "required_shares" as c_required_shares %}
    {% if shares.total_required > c_required_shares %}
        {% blocktrans trimmed with st=shares.total_required v_subscription_pl=vocabulary.subscription_pl v_share=vocabulary.share %}
            Für die von dir ausgewählten {{ v_subscription_pl }} brauchst du mindestens {{ st }}
            {{ v_share }}(e). Du kannst natürlich noch mehr erwerben.
        {% endblocktrans %}
    {% elif c_required_shares > 0 %}
        {% blocktrans trimmed with v_share=vocabulary.share %}
            Du benötigst mindestens {{ c_required_shares }} {{ v_share }}(e). Du kannst natürlich noch mehr erwerben.
        {% endblocktrans %}
    {% endif %}

    {% if co_members|length > 0 and shares.remaining_required > 0 %}
        <br/>
        {% blocktrans trimmed with sr=shares.remaining_required v_share=vocabulary.share v_co_member_pl=vocabulary.co_member_pl %}
        Teile die restlichen benötigten {{ sr }} {{ v_share }}(e) unter dir und
        deinen {{ v_co_member_pl }} auf.
        {% endblocktrans %}
    {% endif %}

    <br>
    Nur Personen mit mindestens 1 {{ vocabulary.share }} sind stimmberechtigt.
{% endblock %}
