{% extends "createsubscription/summary.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block depot %}
    <h4>{% trans "Depot" %} <a href="{% url 'cs-depot' %}" class="edit"><i class="fas fa-pen"></i></a></h4>
    <p>{{ depot.name }}
        {# bending the rules of physics here #}
        <br>{% trans 'Abholung jeweils am' %} Freitag und Samstag
        {% if depot.location.address %}<br>{{ depot.location.address_html|safe }}{% endif %}
    </p>
{% endblock %}
